:root{
    --dark: #17181E;
    --blue: #849BEB;
    --lightBlue: #C4D5FC;
    --green: #25D952;
    --light: #F0F0F1;
    --gray: #6B6B7C;
    --dimmedLight: #BBBBBB;
    --pink: #DDC2D4;
    --content: #1E1F27;
    --hover-color: rgba(255, 141, 141, 0.15);
    --green-hover: rgba(37, 217, 82, 0.49);
}

body{
    margin: 0;
    padding: 0;
    background-color: var(--dark);
    font-family: Inter;
    color: var(--light);
}

#container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#container .top{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#container .top img{
    width: 200px;
}

#container .top h1{
    font-size: 24px;
    font-weight: 600px;
}

#container .converter{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--dimmedLight);
    border-radius: 5px;
    padding: 10px 70px;
}

#container .converter p{
    font-size: 18px;
    font-weight: 400;
    margin: 0px;
    margin-bottom: 10px;
}

#container .converter input{
    width: 100%;
    height: 10px;
    border: 1px solid var(--light);
    border-radius: 5px;
    padding: 10px;
    background-color: var(--gray);
    color: var(--light);
    margin-bottom: 10px;
}

#container .converter button{
    width: 110%;
    height: 30px;
    border: 1px solid var(--light);
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    justify-content: center;
    background-color: var(--green);
    color: var(--dark);
    margin-bottom: 10px;
}